/*
---- MAIN ----
---- 1. General ----
---- 2. Navbar ----
---- 3. Header ----
---- 4. Gallery ----
---- 5. Footer ----
---- 6. Media Queries ----

---- PODCAST ----
---- EQUIPO ----
---- CONTACTO ----


*/


/* ----1. General---- */
p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    background-image: url("../resources/main/fondo.png");
    margin:0 auto;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow-x: hidden !important;
    height: 100%;

    

}

/* ----2. Navbar---- */
.logo{
    padding-top: 0.5rem;
    margin: 0 1%;
    max-height: 100px;
    max-width: 300px;
   
    
}
.logo img{
    max-height: 100px;
    width: 100%;
    display: inline-block;
    
    
}
.nav{
    background-color:#753BBD;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    z-index: 99;
   
    
}
#dropdown-options{
    display: none;
    position: absolute;
    padding: 1% 2%;
    margin: 0 0 0 -2%;
    background-color: #dfc8e7;
    border-radius: 3%;
   
}

#dropdown-options li{
    list-style-type: none;
    padding: 0.5rem;
    display: block;
    width:100%;
}
#dropdown-options a{
    color:#fff;
    text-decoration: none;
   
}
#dropdown-options a:hover{
    color: #000;
   
   
}
#dropdown:hover #dropdown-options {
    display: block; /* muestra la lista al pasar el mouse */
  }
  #dropdown-options2{
    
        display: none;
        position: absolute;
        padding: 5% 5%;
        margin: 0 0 0 -2%;
        background-color: #dfc8e7;
        border-radius: 0%;
        display: flex;
        right: 20px;
      }
      #dropdown-options2 li{
        list-style-type: none;
        padding: 1rem;
        display: block;
        width:100%;
    }
    #dropdown-options2 a{
        color:#fff;
        text-decoration: none;
       
    }
    #dropdown-options2 a:hover{
        color: #000;
       
       
    }
    #dropdown2:hover #dropdown-options2 {
        display: block; /* muestra la lista al pasar el mouse */
      }
  
.pages{
    display: flex;
    align-items: flex-start;
    margin-right: 1.5rem; 
    top: 20px;
    position: relative;
   
}
.pages li{
    display: inline-block;
    padding: 0.3rem 3rem;
    padding-top: 1.7rem;
    font-size: 1.3rem; /* 20.8px */
    
}
.pages a{
    color: #ffffff;
    text-decoration: none;
    
    
}
.pages a:hover{
    text-decoration: underline;
  
}

/* ----3. Header---- */
.contenido-principal{
    display: flex;
    width: 100vw;
    max-width: 100%;
    margin-top: 9rem;
    padding-top: 3rem;
    
}

.text-container{
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  
}
.hero{
    width: 50%;
    
}
.hero img{
    width: 70%;
    flex: 2;
    order: 2;
    padding-left: 10%;
   
}
.title{
    flex: 1;
    align-items: flex-start;
    width: 50%;
    padding-left: 3%;
}


.title h1, focus-in {
    color: #753BBD; 
    margin: 0 0 0 86px;
    font-size: 6rem;
    animation: focus-in 1s;
}
#subtitle {
    width: 50%;
    white-space: nowrap;
    font-style: italic;
    font-weight: lighter;
    margin-top: -10px;
 
   
}
.description p, focus-in{
    font-size: 1.5rem; /* 24px */
    order: 2;
    padding-left: 3%;
    margin: 0 0 0 86px;
    animation: focus-in 1.5s;
}




/* ----4. Gallery---- */
#novedades{
    max-width: 100%;
    display: flex;
    margin-top: 15%;
 
    
}
#novedades h2{
    margin-left: 120px;
    font-size: 3rem;
}
.carroussel{
    width: 100vw;
    max-width: 100%;
    display:flex;
    justify-content: space-around;
    margin:5% 0 20% 0;
    position: relative;
   
   

}

.contenido-carroussel::-webkit-scrollbar{
        display:none;
      
}

.contenido-carroussel{
    width: 100%;
    height: 450px;
    display: flex;
    margin:0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    transition: scroll-left 0.5s ease-in-out;
    scrollbar-width: none;
    overflow-y: hidden;
}
#contenido1, #contenido2, #contenido3{
    flex: 1 0 50%;
    text-align: center;
}

.flecha{
    max-width: 100px;
    width: 100%;
    margin: 0 8%;
    position: relative;
    display:flex;
    top:118px;
    bottom:0;
    border:none;
    background-color: transparent;
    width: 2rem;
    height: 4rem;
    font-size: 3rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}
.flecha:hover, .flecha:focus{
    opacity:1;
}
#flecha-izquierda{
    transform: scaleX(-1);
}
#flecha-derecha{
    float:right;
}
#description-img{
    font-size:1.25rem;
}
#subtext{
    font-size: 0.937rem; /* 15px */
}



/* ----5. Footer---- */
.footer{
    width: 100%;
    max-width: 100%;
    background-image: url(../resources/main/footer-web.png);
    margin: 0 auto;
    padding: 1rem 0;
    display:flex;
    position: relative;
    overflow-x: hidden;
}

#nav-footer li{
  list-style: none;
  padding-bottom: 0.5rem;
}
#nav-footer a{
    color: #ffffff; 
    padding: 0.3rem 3rem;
    text-decoration: none;
   
}
#nav-footer a:hover{
    text-decoration: underline;
}
.info{
    color: #ffffff;
    text-align: center;
   /* margin:0 auto; */
    /*margin-left: 7%;*/
    padding-top: 68px;
    max-width: 73%;

}
.redes{
    color: #ffffff;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 12%;
   
   
}
#logos{
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: 50%;
  }


#instagram{
    width:35%;
    margin-right: 0.5rem;
}
#instagram:hover{
    cursor: pointer;
}

#twitter{
    width:35%;
}
#twitter:hover{
    cursor: pointer;
}

#tiktok{
    width:40%;
}
#tiktok:hover{
    cursor: pointer;
}

#spotify{
    width:90%;
}
#spotify:hover{
    cursor: pointer;
}

/* ----6. Media Queries---- */
@media only screen and (max-width:1600px){
    
    .nav{
        width: 100vw;
    }

    #dropdown-options{
        margin: 0 0 0 -2.5%;
    }

    .title h1{
        font-size: 4.4rem;
        line-height: 0;
        margin-top: 3rem;
    }
    #subtitle{
        margin-top: 100px;
        margin-bottom: 60px;
    }
 
    .hero img{
       /* padding: 2.5rem 2.5rem; */
    }
    .info{
        margin-left: 0;
        padding-top: 90px;
    }
    .contenido-carroussel{
        height: 550px;
    }
    .contenido-carroussel img{
        height: auto;
        max-width: 300px;
    }
    .redes p{
        margin: 12px;
    }
}
@media all and (min-width:1024px) and (max-width:1280px){
   
   
    .pages li{
        font-size: 1.2rem;
       
    }

    .title h1{
        font-size: 3rem;
        margin-left: 94px;
    }
    #subtitle {
        margin-top: 65px;
        margin-left: 94px;
    }
 
    .hero img{
       /* padding: 2.5rem 2.5rem; */
       margin-top: 15px;
    }
    .description p {
        margin: 0 0 0 94px;
        font-size: 17px;
    }

    #novedades h2{
        font-size: 2rem;
        margin-left: 113px;
    }
    #contenido1, #contenido2, #contenido3 {
        padding: 0 40px 0 0;
      }
      
    .contenido-carroussel img{
        height: auto;
        max-width: 250px;
    }
    #description-img {
        font-size: 1rem;
      }
    .footer{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }
    #nav-footer{
        height: 50%;
    }

    .info{
        margin-left: 0;
        padding-top: 144px;
        margin-right: 205px;
        
    }
}
@media all and (min-width:931px) and (max-width:1024px){
    
    .pages li{
        font-size: 1.1rem;
        padding: 1.8rem 2rem;
    }
   
    .title h1{
        font-size: 40px;
        margin-left: 99px;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }
    
    #subtitle{
        margin-top: 58px;
        
    }
    .description p{
        margin-left: 99px;
        font-size: 17px;
    }
    #novedades h2{
        font-size: 2rem;
        margin-left: 114px;
    }
    #contenido1, #contenido2, #contenido3 {
        padding: 0 40px 0 0;
      }
      .contenido-carroussel{
        height: 500px;
      }
      .contenido-carroussel img{
        height: auto;
        max-width: 250px;
    }
    #description-img {
        font-size: 1rem;
      }
    .info{
        font-size: 15px;
        padding-top: 15%;
        margin-left: -14%;
        max-width: 85%;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:769px) and (max-width:931px){
   

    .logo img{
        width: 80%;
       
    }
    .hero {
        bottom: 20px;
        position: relative;
    }
    .title{
        padding-left: 0;
    }

    .title h1{
        font-size: 30px;
        margin-top: 0;
        margin-left: 90px;
       

    }
    #subtitle{
        margin-top: 46px;
        margin-bottom: 55px;
        
    }
 
    .description p {
        font-size: 15px;
        margin-left: 79px;
    }
    #novedades h2{
        font-size: 30px;
        margin-left: 94px;
    }

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .carroussel{
        /*margin:5% 0 20% 10%;*/
        width: 100vw;
        margin-bottom: 5%;
    }
    .contenido-carroussel img{
        height: auto;
        max-width: 250px;
    }
    #contenido1, #contenido2, #contenido3 {
        flex: 1 0 70%;
        text-align: center;
      }
    #description-img {
        font-size: 1rem;
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 135%;
        position: relative;
        right: 82px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:612px) and (max-width:768px){
   

    .logo img{
        width: 80%;
        
    }

    .title h1{
        font-size: 2.9rem;
        margin-left: 10px;
       

    }
    #subtitle{
        margin-top: 60px;
    }
    .description p {
        padding-left: 0;
        margin-left: 29px;
    }
    #novedades h2 {
        margin-left: 90px;
        font-size: 2rem;
    }

    .pages {
        margin-right: -1.5rem;
        top: 22px;
        right: 36px;
    }

    .pages li{
        padding: 0rem 0.7rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    .hero {
        width: 70%;
        margin: 50px 30px;
    }
    .hero img {
        width: 100%;
    }
    .contenido-principal {
        margin-top: 6rem;
        padding-top: 0;
        margin-left: 10px;
        flex-direction: column-reverse; 
    }
    .text-container {
       
        width: 85%;
        margin: 0 50px;
    }

    .carroussel{
        /*margin:5% 0 20% 10%;*/
        width: 100vw;
        margin-bottom: 5%;
    }
    .contenido-carroussel img{
        height: auto;
        max-width: 250px;
    }
    #contenido1, #contenido2, #contenido3 {
        flex: 1 0 70%;
        text-align: center;
      }
    #description-img {
        font-size: 1rem;
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 135%;
        position: relative;
        right: 68px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:530px) and (max-width:612px){
    
    .logo img{
        width: 80%;
    }
    .contenido-principal {
        padding-top: 0;
        flex-direction: column-reverse;
    }
    .hero {
        width: 70%;
        margin: 10px 0 30px 50px;
      }

    .hero img {
        width: 100%;
    }
    .text-container {
        width: 85%;
    }
    .title h1{
        font-size: 2.6rem;
        margin-top: 20px;
        margin-left: 71px;
    }
    #subtitle{
        margin-top: 70px;
    }
    .description p {
        margin-left: 71px;
    }
    #novedades h2 {
        margin-left: 87px;
        font-size: 2rem;
      }
    .pages {
        margin-right: -1.5rem;
        top: 23px;
        right: 42px;
      }
    .pages li{
        padding: 0rem 0.6rem;
        padding-top: 1rem;
        font-size: 0.8rem; /* px */
    }

    .carroussel{
        /*margin:5% 0 20% 10%;*/
        width: 100vw;
        margin-bottom: 3%;
    }
    .contenido-carroussel img{
        height: auto;
        max-width: 210px;
    }
    #contenido1, #contenido2, #contenido3 {
        flex: 1 0 70%;
        text-align: center;
      }
    #description-img {
        font-size: 1rem;
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 135%;
        position: relative;
        right: 57px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:481px) and (max-width:530px){
    .logo img{
        width: 80%;
    }
    .contenido-principal {
        flex-direction: column-reverse;
        padding:0;
      }
      .text-container {
        
        width: 100%;
      }

      .hero {
        width: 100%;
      }
      .hero img{
        padding-left: 14%;
      }

    .title h1{
        font-size: 40px;
        margin-top: 52px;
       

    }
    #subtitle{
        margin-top: 70px;
    }
    .description p, focus-in {
        font-size: 17px;
        padding: 0 10% 0 3%;
      }
 

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }


    #novedades h2 {

        margin-left: 100px;
        font-size: 30px;

    }

    .carroussel{
        /*margin:5% 0 20% 10%;*/
        width: 100vw;
        margin-bottom: 5%;
    }
    .contenido-carroussel img{
        height: auto;
        max-width: 200px;
    }
    #contenido1, #contenido2, #contenido3 {
        flex: 1 0 80%;
        text-align: center;
      }
    #description-img {
        font-size: 1rem;
      }
   
    
    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 135%;
        position: relative;
        right: 48px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:480px){

    .logo img{
        width: 70%;
        min-width: 223px;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }

    .title h1{
        font-size: 2.5rem;
        margin-top: 10px;
        margin-left: 66px;
        
    }
   
    .description p {
        margin-left: 80px;
        font-size: 1.2rem;
        padding-left: 0;
        margin-right: 40px;
    }
    #novedades h2 {
        margin-left: 82px;
        font-size: 2rem;
      }
    #subtitle{
      margin-top: 60px;
     
    }

    .hero{
        max-width: 100%;
        width: 100vw;
    }
 
    .hero img{
        padding-left: 16%;
        padding-bottom: 30px;
    }


    .carroussel{
        /*margin:5% 0 20% 10%;*/
        width: 100vw;
        margin-bottom: 5%;
    }
    .contenido-carroussel {
        height: 401px;
      }
    .contenido-carroussel img{
        height: auto;
        max-width: 150px;
    }
    #contenido1, #contenido2, #contenido3 {
        flex: 1 0 80%;
        text-align: center;
      }
    #description-img {
        font-size: .9rem;
      }

    .flecha{
        max-width: 10px;
        width: 20%;
        height: 2rem;
        top: 65px
    }
    .flecha img{
        height: auto;
        max-width: 50px;
    }
    #flecha-izquierda{
        padding-right: 17%;
    }
    #flecha-derecha{
        padding-right: 17%;
    }
   

    #subtext{
        font-size: 0.937rem; /* 15px */
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 15%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        margin-right: 10px;
    }
    #logos{
        max-width: 135%;
        position: relative;
        right: 48px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:380px){
    .logo{
        padding-top: 0;
    }
    .logo{
        width:50%;
       /* min-width: 223px; */
    }
    
    .logo img{
        width: 70%;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }

    .title h1{
        font-size: 32px;
        margin-top: 5px;
        margin-left: 71px;
    }
    #subtitle{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .description p{
        font-size: 1rem;
    }
   
    .hero img{
       width: 80%;
       padding-left: 11%;
       padding-top: 16px;
    }
    #novedades h2{
        font-size: 1.5rem;
   }

   .carroussel{
    /*margin:5% 0 20% 10%;*/
    width: 100vw;
    margin-bottom: 5%;
}
.contenido-carroussel {
    height: 366px;
  }
.contenido-carroussel img{
    height: auto;
    max-width: 150px;
}
#contenido1, #contenido2, #contenido3 {
    flex: 1 0 80%;
    text-align: center;
  }
#description-img {
    font-size: .9rem;
  }

.flecha{
    max-width: 10px;
    width: 20%;
    height: 2rem;
    top: 65px
}
.flecha img{
    height: auto;
    max-width: 50px;
}
#flecha-izquierda{
    padding-right: 17%;
}
#flecha-derecha{
    padding-right: 17%;
}
    #subtext{
        font-size: 0.937rem; /* 15px */
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 15%;
    }
    .redes p{
        margin: 15% 0;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        margin-right: 17px;
    }
    #logos{
        max-width: 135%;
        position: relative;
        right: 48px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}

 @keyframes focus-in{
    0%{
        filter: blur(12px);
        opacity:0;
    }
    100%{
        filter: blur(0px);
        opacity:1;
    }
 }
  