/*
---- MAIN ----
---- 1. General ----
---- 2. Navbar ----
---- 3. Header ----
---- 4. Gallery ----
---- 5. Footer ----
---- 6. Media Queries ----

---- PODCAST ----
---- EQUIPO ----
---- CONTACTO ----


*/


/* ----1. General---- */
p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    background-image: url("../resources/main/fondo.png");
    margin:0 auto;
    overflow-x: hidden;
    

}

/* ----2. Navbar---- */
.logo{
    float: left;
    padding-top: 0.5rem;
    margin: 0;
    
    
}
.logo img{
    max-width: 100px;
    width: 100%;
    display: inline-block;
}
.nav{
    background-color:#753BBD;
    width: 100vw;
    max-width: 100%;
    height: 30%;
    display: flex;
    padding: 0.2rem 2rem;
    position: relative;
    justify-content: space-between;
    overflow-x: hidden;
    
}
.pages{
    display: flex;
    align-items: flex-start;
    margin-left: auto;
    margin-right: 1.5rem; 
  
}
.pages li{
    display: inline-block;
    padding: 0.3rem 3rem;
    padding-top: 1.7rem;
    font-size: 1.3rem; /* 20.8px */
}
.pages a{
    color: #ffffff;
    text-decoration: none;
    
    
}
.pages a:hover{
    text-decoration: underline;
  
}

/* ----3. Header---- */

.title{
    margin-left: 2rem;
    margin-right: 1.5rem;
    margin-top: 9rem;
    width: 50%;
    
}
.title h1{
    line-height: 0.01rem;
    font-size: 7rem; /* 112px */ 
    display: flex;
   
}
#subtitle {
    font-style: italic;
    font-weight: lighter;
   
}
.description p{
    display: flex;
    width: 40%;
    margin-left: 2rem;
    font-size: 1.5rem; /* 24px */
}
.hero img{
    display: flex;
    width: 40%;
    float: right;
    padding: 1.5rem 2.5rem;
}

/* ----4. Gallery---- */
#novedades{
    width: 100vw;
    max-width: 100%;
    display: flex;
    margin-top: 15%;
    margin-left: 2rem;
    
}
.carroussel{
    width: 100vw;
    max-width: 100%;
    display:flex;
    justify-content: space-around;
    margin:5% 0 20% 0;

}
.flecha{
    max-width: 100px;
    width: 100%;
}
#flecha-izquierda{
    transform: scaleX(-1);
}
#flecha-derecha{
    float:right;
}
#description-img{
    font-size:1.25rem;
}
#subtext{
    font-size: 0.937rem; /* 15px */
}



/* ----5. Footer---- */
.footer{
    width: 100%;
    max-width: 100%;
    background-image: url(../resources/main/footer-web.png);
    margin: 0 auto;
    padding: 1rem 0;
    display:flex;
    position: relative;
}

#nav-footer li{
  list-style: none;
  padding-bottom: 0.5rem;
}
#nav-footer a{
    color: #ffffff;
    padding: 0.3rem 3rem;
    text-decoration: none;
   
}
#nav-footer a:hover{
    text-decoration: underline;
}
.info{
    color: #ffffff;
    text-align: center;
    margin:0 auto;
    margin-left: 20%;
    padding-top: 2.7rem;

    
    
}
.redes{
    color: #ffffff;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 12%;
   
   
}

#instagram{
    width:35%;
    margin-right: 0.5rem;
}
#instagram:hover{
    cursor: pointer;
}

#twitter{
    width:35%;
}
#twitter:hover{
    cursor: pointer;
}

#tiktok{
    width:40%;
}
#tiktok:hover{
    cursor: pointer;
}

#spotify{
    width:90%;
}
#spotify:hover{
    cursor: pointer;
}

/* ----6. Media Queries---- */
@media only screen and (max-width:1600px){
    
    
    .nav{
        width: 100vw;
    }

    .title h1{
        font-size: 5rem;
        line-height: 0;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }
}
@media all and (min-width:1024px) and (max-width:1280px){
   
    .pages li{
        font-size: 1.2rem;
       
    }

    .title h1{
        font-size: 4rem;
        line-height: 0;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }

    .footer{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }

    .info{
        margin-left: 3%;
        
    }
}
@media all and (min-width:768px) and (max-width:1024px){
   
    
    
    .pages li{
        font-size: 1.1rem;
       
    }

    .title h1{
        font-size: 3.5rem;
        line-height: 0;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:480px) and (max-width:768px){
 
   /* .nav{
        float: none;
        display: block;
    }*/

    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 1.9rem;
        line-height: 0;

    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .carroussel{
        margin:5% 0 20% 15%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:480px){

    .logo img{
        width: 70%;
    }  

    .title h1{
        font-size: 1.5rem;
        line-height: 0;
    }
 
    .hero img{
        padding: 2.5rem 0rem 2.5rem 2rem;
    }

    .pages li{
        padding: 0rem 1rem;
        padding-top: 0.5rem;
        font-size: 0.6rem; /* px */
    }

    .carroussel{
        margin:5% 0 20% 20%;
        width: 60vw;
        max-width: 60%;
    }

    .carroussel{
        width: 20vw;
        max-width: 20%;
        display:flex;
        justify-content: space-around;
        margin:5% 0 20% 45%;
    
    }
    .contenido1{
        width: 50%;
    }
    .contenido2{
        width: 50%;
    }
    .contenido3{
        width: 50%;
    }
    .flecha{
        max-width: 10px;
        width: 20%;
    }
   

    #description-img{
        font-size:1.05rem;
    }
    #subtext{
        font-size: 0.937rem; /* 15px */
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}