/*
---- MAIN ----


---- PODCAST ----
---- 1. General ----
---- 2. Navbar ----
---- 3. Header ----
---- 4.  ----
---- 5. Footer ----
---- 6. Media Queries ----


---- EQUIPO ----
---- CONTACTO ----


*/



/* ----1. General---- */
p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    width: 100vw;
    background-image: url("../resources/main/fondo.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin:0 auto;
    overflow-x: hidden;
    height: 100%;
    

}



/* ----2. Navbar---- */
.logo{
   
    padding-top: 0.5rem;
    margin: 0 1%;
    max-height: 100px;
    max-width: 300px;
    
    
}
.logo img{
    max-height: 100px;
    width: 100%;
    display: inline-block;
    
}
.nav{
    background-color:#753BBD;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    z-index:99;
   
    
}
#dropdown-options{
    display: none;
    position: absolute;
    padding: 1% 2%;
    margin: 0 0 0 -2%;
    background-color: #dfc8e7;
    border-radius: 3%;
   
}

#dropdown-options li{
    list-style-type: none;
    padding: 0.5rem;
    display: block;
    width:100%;
}
#dropdown-options a{
    color:#fff;
    text-decoration: none;
   
}
#dropdown-options a:hover{
    color: #000;
   
   
}
#dropdown:hover #dropdown-options {
    display: block; /* muestra la lista al pasar el mouse */
  }
  
.pages{
    display: flex;
    align-items: flex-start;
    margin-right: 1.5rem; 
    top: 20px;
    position: relative;
  
}
.pages li{
    display: inline-block;
    padding: 0.3rem 3rem;
    padding-top: 1.7rem;
    font-size: 1.3rem; /* 20.8px */
    
}
.pages a{
    color: #ffffff;
    text-decoration: none;
    
    
}
.pages a:hover{
    text-decoration: underline;
  
}

/* ----3. Header---- */
.title{
    flex: 1;
    align-items: flex-start;
    width: 50%;
    padding-left: 3%;
    padding-top: 120px;
    padding-bottom: 20px;
}
.title h1{
    color: #753BBD; 
    font-size: 6rem; /* 96px */ 
    margin-left: 61px;
    animation: focus-in 1s;
}



/* ----4. Gallery---- */

  .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }

  .carousel{
    width:90%;
    margin:0px auto;
    display: flex ;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    transition: scroll-left 0.5s ease-in-out;

  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
  }
  .slick-prev, .slick-next{
    background: #000;
    border-radius: 15px;
    border-color: transparent;
  }
  .card{
    box-shadow: 1px 1px 15px #ccc;
    width: 44%;
    text-align: center;
    margin: 0 2% 10%;
    flex: 1 0 400px;
  }
  
  .card-body{
    background: #fff;
    width: 100%;
    vertical-align: top;
  }
  .contenido-tarjeta{
    text-align: left;
    color: #333;
    padding: 15px;
    height: 250px;
    overflow: auto;


}
.contenido-tarjeta h4{
    color: #000;
}
  .card-text{
    font-size: 14px;
    font-weight: 300;
  }
  .card-header img{
   width:100%;
  }
#spotify-card{
    max-width: 100px;
    width: 90%;
    white-space: nowrap;
    margin: 3px 125px;
    z-index: 98;
    position: relative;

}
#spotify-card img{
    width:100%;
    
    
   
}
.flecha-der{
    display: inline-block;
    width: 10vw;
    height: 690px;
    position: absolute;
    right: 40px;
    background-color: transparent;
    border-color: transparent;
    margin: 0 1.8%;
}
.flecha-der:hover{
    background: linear-gradient(to left, rgb(155, 38, 182), transparent);
    border: none;
}
.flecha-izq{
    display: flex;
    width: 10vw;
    height: 690px;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    margin: 0 1.8%;
   
}
.flecha-izq:hover{
    
    background: linear-gradient(to right, rgb(155, 38, 182), transparent);
    border: none;
}


/* ----5. Footer---- */
.footer{
    width: 100%;
    max-width: 100%;
    background-image: url(../resources/main/footer-web.png);
    margin: 0 auto;
    display:flex;
    position: relative;
}

#nav-footer li{
  list-style: none;
  padding-bottom: 0.5rem;
}
#nav-footer a{
    color: #ffffff; 
    padding: 0.3rem 3rem;
    text-decoration: none;
   
}
#nav-footer a:hover{
    text-decoration: underline;
}
.info{
    color: #ffffff;
    text-align: center;
     /* margin:0 auto; */
    /*margin-left: 7%;*/
    padding-top: 68px;
    max-width: 73%;

}
#logos{
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: 50%;
  }
.redes-podcast{
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    padding-left: 3%;
    margin: 3%;
   
}

.redes{
    color: #ffffff;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 12%;
   
   
}
#instagram{
    width:35%;
    margin-right: 0.5rem;
    z-index: 98;
    position: relative;
}
#instagram:hover{
    cursor: pointer;
}

#twitter{
    width:35%;
    z-index: 98;
    position: relative;
}
#twitter:hover{
    cursor: pointer;
}

#tiktok{
    width:40%;
    z-index: 98;
    position: relative;
}
#tiktok:hover{
    cursor: pointer;
}

#spotify{
    width:90%;
    z-index: 98;
    position: relative;

}
#spotify:hover{
    cursor: pointer;
}



/* ----6. Media Queries---- */
@media only screen and (max-width:1600px){
    
    
    .nav{
        width: 100vw;
    }

    .title h1{
        font-size: 5rem;
        line-height: 0;
        margin-top: 3rem;
        margin-left: 67px;
    }
    .card{
        margin-left: 46px;
    }
    .info{
       /* margin-left: 10%; */
       padding-top: 86px;
    }
   
}


@media all and (min-width:1024px) and (max-width:1280px){
   
    .pages li{
        font-size: 1.2rem;
       
    }

    .title h1{
        font-size: 4rem;
        margin-left: 78px;
    }
    .card{
        margin-left: 62px;
    }
   
 
    .flecha-der{
        right:31px;
      }

    .footer{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }

    .info{
       /* margin-left: 3%; */
       padding-top: 127px;
       max-width: 64%;
        
    }
}
@media all and (min-width:831px) and (max-width:1024px){
   
    .pages li{
        font-size: 1rem;
        padding: 1.8rem 2rem;
    }

    .title h1{
        font-size: 3.5rem;
        margin-left: 83px;
    }
    .card{
        margin-left: 71px;
    }

    .info{
        font-size: 15px;
        padding-top: 14%;
        /*margin-left: 1%;*/
        margin-right: 180px;
    }
    #spotify-card {
        width: 74%;
        margin: 1px 190px;
        z-index: 98;
        
      }
    .flecha-der{
        right:31px;
      }
     
    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:769px) and (max-width:831px){

    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 3rem;
        margin-left: 62px;
    }
   

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    .card{
        flex: 1 0 260px;
        margin-left: 50px;
    }
    .contenido-tarjeta {
       
        overflow: clip;
      }
    #spotify-card {
        width: 65%;
        margin: 1px 80px;
    }
    .flecha-der{
        display: none;
      }
      .flecha-izq{
        display:none;
      }
      #nav-footer{
        width:50%;
      }
    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        /*position:relative;*/
        left: 79%;
        right: 0;
        bottom:80%;
        
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:612px) and (max-width:768px){

    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 3rem;
       

    }
   
    .pages{
        margin-right: 0.5rem;
    }
    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
        
    }
    .card{
        margin-left: 56px;
        flex: 1 0 350px;
    }
    .flecha-der{
        display: none;
      }
      .flecha-izq{
        display:none;
      }
      #spotify-card {

        width: 67%;
        
        margin: 3px 155px;
       
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:530px) and (max-width:612px){
    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 2.6rem;
        margin-top: 37px;
       

    }
    .pages{
        margin-right: -1.5rem;
        top: 22px;
        right: 43px;
    }

    .pages li{
        padding: 0rem .5rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .card {
        flex: 1 0 330px;
        margin-left: 56px;
    }
      
      #spotify-card {
        width: 66%;
        margin: 1px 145px;
        
      }
    .flecha-der{
        display: none;
      }
      .flecha-izq{
        display:none;
      }
   

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:481px) and (max-width:530px){
    .logo img{
        width: 80%;
    }
    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .title h1{
        font-size: 2.2rem;
        margin-top: 20px;
        margin-left: 63px;

    }
    .card {
        margin-left: 54px;
        flex: 1 0 280px;
      }
      .contenido-tarjeta {
        overflow: clip;
      }
   
    #spotify-card {
        width: 62%;
        margin: 3px 105px;
        
      }

    .flecha-der{
        display: none;
      }
      .flecha-izq{
        display:none;
      }


    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:480px){

    .logo img{
        width: 70%;
        min-width: 223px;
    }  
   
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }
    .title{
        padding-top: 10px;
    }

    .title h1{
        font-size: 2.5rem;
        margin-top: 10px;
        margin-left: 67px;
        
    }
    .carousel {
        
        margin-left: 74px;
      }
      .flecha-der{
        display: none;
      }
      .flecha-izq{
        display:none;
      }
    .card{
        margin-left: 8px;
        flex: 1 0 250px;
        
    }
    .card-title h2 {
        font-size: 1.3rem;
    }
    .contenido-tarjeta{
        padding: 12px;
        height: 204px;
        overflow: clip;
    }

    .contenido-tarjeta h4 {
        font-size: 0.9rem;
    }
    .contenido-tarjeta h5 {
        margin: 0;
    }
    
    #spotify-card {
        width: 61%;
        margin: 3px 79px;
       
      }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 14%;
    }
    .footer{
        flex-direction: column;
    }
    #nav-footer a {
        padding: 0.3rem 0 3rem;
        
      }
    .redes{
        font-size: 15px;
        margin-right: 10px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:380px){
    .logo{
        padding-top: 0;
       
    }
    
    .logo img{
        width: 70%;
        min-width:223px;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }
    .title{
        padding-top: 0;
    }

    .title h1{
        font-size: 2rem;
        margin-top: 5px;
        margin-left: 46px;
    }
    .carousel {
        margin-left: 43px;
      }
    .card{
        margin: 0 5% 10%;
    }
    .card-title h2 {
        font-size: 1rem;
        margin: 10px 0;
    }
    .contenido-tarjeta{
        padding: 15px;
        overflow: clip;
        height: 151px;
    }

    .contenido-tarjeta h4 {
        font-size: 0.7rem;
        margin: 0;
    }
    .contenido-tarjeta h5 {
        margin: 0;
        font-size: 10px;
    
    }
  
    .description p{
        font-size: 1rem;
    }
    .hero{
        max-width: 100%;
        width: 100vw;
    }
    .hero img{
       width: 80%;
    }
   

      .flecha-der{
        display: none;
      }
      .flecha-izq{
        display:none;
      }

      .card{
        flex: 1 0 200px;
      }
      
     
      #spotify-card {
        width: 60%;
        margin: 3px 25px;
      }
      #nav-footer{
        margin: 14px 10px;
        }
    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 14%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        margin-right: 17px;
        margin-top: 16px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@keyframes focus-in{
    0%{
        filter: blur(12px);
        opacity:0;
    }
    100%{
        filter: blur(0px);
        opacity:1;
    }
}