/*
---- MAIN ----
---- 1. General ----
---- 2. Navbar ----
---- 3. Header ----
---- 4. Gallery ----
---- 5. Footer ----
---- 6. Media Queries ----

---- PODCAST ----
---- EQUIPO ----
---- CONTACTO ----


*/

/* ----1. General---- */
p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    width: 100vw;
    background-image: url("../resources/main/fondo.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin:0 auto;
    overflow-x: hidden !important;
    height: 100%;

    

}

/* ----2. Navbar---- */
.logo{
    padding-top: 0.5rem;
    margin: 0 1%;
    max-height: 100px;
    max-width: 300px;
   
    
}
.logo img{
    max-height: 100px;
    width: 100%;
    display: inline-block;
    
    
}
.nav{
    background-color:#753BBD;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    z-index:99;
   
    
}
#dropdown-options{
    display: none;
    position: absolute;
    padding: 1% 2%;
    margin: 0 0 0 -2%;
    background-color: #dfc8e7;
    border-radius: 3%;
   
}

#dropdown-options li{
    list-style-type: none;
    padding: 0.5rem;
    display: block;
    width:100%;
}
#dropdown-options a{
    color:#fff;
    text-decoration: none;
   
}
#dropdown-options a:hover{
    color: #000;
   
   
}
#dropdown:hover #dropdown-options {
    display: block; /* muestra la lista al pasar el mouse */
  }
  
.pages{
    display: flex;
    align-items: flex-start;
    margin-right: 1.5rem; 
    top: 20px;
    position: relative;
   
}
.pages li{
    display: inline-block;
    padding: 0.3rem 3rem;
    padding-top: 1.7rem;
    font-size: 1.3rem; /* 20.8px */
    
}
.pages a{
    color: #ffffff;
    text-decoration: none;
    
    
}
.pages a:hover{
    text-decoration: underline;
  
}

/* ----3. Header---- */
.contenido-principal{
    display: flex;
    width: 100vw;
    max-width: 100%;
    margin-top: 4rem;
    padding-top: 3rem;
    
}

.text-container{
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-width:thin;
    border-color: rgb(187, 187, 187);
    border-style: solid;
  
}
.descripcion-podcast{
    width: 50%;
    border-width:thin;
    border-color: rgb(187, 187, 187);
    border-style: solid;
    
    
}
.descripcion-podcast h4{
    order: 2;
    padding: 3% 67px;
    font-size: 1.5rem; /* 24px */
    margin-top: -10px;
    font-weight: normal;
    margin-bottom: 2px;
}
.descripcion-podcast p{
    order: 2;
    padding: 0 3%;
    font-size: 1rem; /* 16px */
    margin-top: -10px;
    padding: 0 67px;
   
}

.titulo-podcast{
    flex: 1;
    align-items: flex-start;
    padding: 0 3%;
    margin-left: 94px;
}
.titulo-podcast h4{
    margin: 0;
    font-size: 1rem; /* 16px */ 
}
.titulo-podcast h2{
    margin: 0;
    font-size: 2rem; /* 32px */ 
    padding-bottom: 20px;
}
#subtitle {
    width: 50%;
    white-space: nowrap;
    font-style: italic;
    font-weight: lighter;
    margin-top: -10px;
 
   
}
.jp-jplayer, .jp-audio {
   
}
.jp-gui {
    position: relative;
    -webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);    
      box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);
      border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
  }
  .parte-superior{

  }
  .parte-inferior{
    display: flex;
    flex-wrap: wrap;
    padding: 6%;
    justify-content: center;
  }
  .jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "FontAwesome";
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
 
.jp-controls li {
    display: inline;
}
 
.jp-controls a {
    color: #fff;
}

.jp-controls img{
    width: 50px;
    vertical-align: middle;
    padding:0 10px;
}
.jp-play,.jp-pause {
    /*width: 60px;
    height: 40px;*/
    display: inline-block;
    text-align: center;
    /*line-height: 43px;*/
    
}
 
.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
   /*background-color: #9b26b6; */
}
/* Hover para botones reproductor */
.jp-controls .img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
/* Hover del botón -30s del reproductor de podcast */
.jp-controls .jp-30sMinus {
    position: relative;
    display: inline-block;
}

.jp-controls .jp-30sMinus:hover .img-hover{
    display:inline;
  }

/* Hover del botón Atrás del reproductor de podcast */
.jp-controls .jp-pastPodcast {
    position: relative;
    display: inline-block;
}

.jp-controls .jp-pastPodcast:hover .img-hover{
    display:inline;
  }

.jp-pastPodcast img{
    transform: scaleX(-1);
}

/* Hover del botón Play del reproductor de podcast */
.jp-controls .jp-play {
    position: relative;
    display: inline-block;
}

.jp-controls .jp-play:hover .img-hover{
    display:inline;
  }

.jp-play > .img-hover img{
    translate: 0 20px;
}

/* Hover del botón Pause del reproductor de podcast */
.jp-controls .jp-pause {
    position: relative;
    display: inline-block;
}

.jp-controls .jp-pause:hover .img-hover{
    display:inline;
  }

.jp-pause img{
    
}

/* Hover del botón Siguiente del reproductor de podcast */
.jp-controls .jp-nextPodcast {
    position: relative;
    display: inline-block;
}

.jp-controls .jp-nextPodcast:hover .img-hover{
    display:inline;
  }

/* Hover del botón +30s del reproductor de podcast */
.jp-controls .jp-30sPlus {
    position: relative;
    display: inline-block;
}

.jp-controls .jp-30sPlus:hover .img-hover{
    display:inline;
  }


.jp-time-holder {
    color: #000;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 90px;
    top: 14px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.jp-progress {
    background-color: rgb(180, 177, 177);
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    position: absolute;
    right: 146px;
    top: 15px;
    /*width: 70%;*/
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    margin-left: 94px;
    left:3%;
}
 
.jp-play-bar {
    height: 12px;
    background-color: #753BBD;
    border-radius: 20px 20px 20px 20px;
}
 
.jp-volume-bar {
    position: absolute;
    right: 21px;
    top: 17px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: rgb(180, 177, 177);
    /*overflow: hidden;*/
}
 
.jp-volume-bar-value {
    background-color: #753BBD;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
}


/* ----4. Gallery---- */
.titulo-fotos{
    max-width: 100%;
    display: flex;
    margin-top: 5%;
 
    
}
.titulo-fotos h2{
    margin-left: 7rem;
}

.imagenes{
    display: flex;
    margin: 0 67px;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
#imagen1, #imagen2, #imagen3, #imagen4{
    
    width: 37%;
    margin-bottom: 4%;
    
}

#imagen1 img, #imagen2 img, #imagen3 img, #imagen4 img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
    cursor:pointer;
    object-fit: cover;
}
#imagen-inner img:hover{
  transform: scale(1.2);
}
#imagen-inner{
  overflow: hidden;
  height: 90%;
}

.modal{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;

}
.modal.open{
  opacity:1;
  pointer-events: all;
}
#description-img-false{

}

.full-image{
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  height: auto;
  top:55%;
  left:50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;


}
.full-image.open{
  transform: translate(-50%, -50%) scale(1);
}
.creadores{
    max-width: 100%;
    display: flex;
    margin-top: 5%;
 
    
}
.creadores h2{
    margin-left: 7rem;
}
.fotos-creadores{
    margin: 0 97px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}

.imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
    width:70%;
    margin: 0 4% 4% 4%;
    
}

#creador1 img, #creador2 img, #creador3 img, #creador4 img, #creador5 img{
    width: 100%;
   
    
}


/* ----5. Footer---- */
.footer{
    width: 100%;
    max-width: 100%;
    background-image: url(../resources/main/footer-web.png);
    padding: 1rem 0;
    display:flex;
    position: block;
}

#nav-footer li{
  list-style: none;
  padding-bottom: 0.5rem;
}
#nav-footer a{
    color: #ffffff; 
    padding: 0.3rem 3rem;
    text-decoration: none;
   
}
#nav-footer a:hover{
    text-decoration: underline;
}
.info{
    color: #ffffff;
    text-align: center;
    margin:0 auto;
    margin-left: 20%;
    padding-top: 2.7rem;

    
    
}
.redes{
    color: #ffffff;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 12%;
   
   
}

#instagram{
    width:35%;
    margin-right: 0.5rem;
}
#instagram:hover{
    cursor: pointer;
}

#twitter{
    width:35%;
}
#twitter:hover{
    cursor: pointer;
}

#tiktok{
    width:40%;
}
#tiktok:hover{
    cursor: pointer;
}

#spotify{
    width:90%;
}
#spotify:hover{
    cursor: pointer;
}

/* ----6. Media Queries---- */
@media only screen and (max-width:1600px){
    
    .nav{
        width: 100vw;
    }

    #dropdown-options{
        margin: 0 0 0 -2.5%;
    }

    .title h1{
        font-size: 5rem;
        line-height: 0;
        margin-top: 3rem;
    }
    #subtitle{
        margin-top: 100px;
        margin-bottom: 60px;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }
    
    .imagenes{
      margin: 0 78px;
    }
    .fotos-creadores{
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    .info{
        margin-left: 10%;
    }
}
@media all and (min-width:1024px) and (max-width:1280px){
   
   
    .pages li{
        font-size: 1rem;
    }
    .title h1{
        font-size: 4rem;
    }
    .hero img{
        padding: 2.5rem 2.5rem;
    }
   
    .descripcion-podcast h4 {
      margin-top: -6px;
    }
    .full-image.open{
      width: 99%;
    }
    .fotos-creadores{
      /*padding: 0 10%;*/
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    #imagen1, #imagen2, #imagen3, #imagen4{
      width:45%;
    }
    .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
      width:85%;
      
      
    }

    .footer{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }

    .info{
        margin-left: 3%;
        
    }
}
@media all and (min-width:831px) and (max-width:1024px){
    
    .pages li{
        font-size: 1rem;
        padding: 1.8rem 1rem;
    }
   
    .title h1{
        font-size: 3.5rem;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }

    .info{
        font-size: 0.6rem;
        padding-top: 10%;
        margin-left: 1%;
    }
    .titulo-podcast {
      margin-left: 84px;
    }
    .contenido-principal{
      padding-top: 1.9rem;
      flex-direction: column;
    }
    .descripcion-podcast h4 {
      padding: 3%;
      margin-left: 84px;
    }
    .descripcion-podcast p {
      padding: 0 3% 3%;
      margin-left: 84px;
    }
    .text-container {
      width: 100%;
    }
    .descripcion-podcast {
      width: 100%;
    }
    .jp-progress{
      margin-left: 84px;
    }
    
    .full-image.open{
      width: 99%;
    }
    .fotos-creadores{
      
      padding: 0 1%;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    #imagen1, #imagen2, #imagen3, #imagen4{
      width:65%;
    }
    .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
      width:85%;
      
      
    }
    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:769px) and (max-width:831px){
   

    .logo img{
        width: 80%;
    }
    .title h1{
        font-size: 3rem;
    }
    #subtitle{
        margin-top: 60px;
    }
    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    /* CONTENIDO PRINCIPAL */
    .titulo-podcast {
      margin-left: 66px;
    }
    .contenido-principal{
        padding-top: 1.9rem;
        flex-direction: column;
      }
      .jp-progress{
        margin-left: 66px;
      }
      .descripcion-podcast h4 {
        padding: 3%;
        margin-left: 66px;
      }
      .descripcion-podcast p {
        padding: 0 3% 3%;
        margin-left: 66px;
      }
      .text-container {
        width: 100%;
      }
      .descripcion-podcast {
        width: 100%;
      }
      .titulo-fotos h2{
        margin-left: 92px;
      }
      .parte-inferior {
        padding: 0 6%;
      }
      .jp-controls{
        margin: 10% 0 5% 0;
      }
     
      /*.jp-time-holder{
      right: 72px;
      }

      .jp-controls .jp-pastPodcast {
        right:2%;
      }
      .jp-controls .jp-play {
        right:1%;
      }
      .jp-controls .jp-pause {
        right:1%;
      }

      .jp-controls .jp-nextPodcast {
        left:2%;
      }
      .jp-controls .jp-30sPlus {
        left: 79%;
        bottom: 49%;
      }
      */

      /*.jp-controls img{
        width: 35px;
      }*/

    .carroussel{
        margin:5% 0 20% 10%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }
    .full-image.open{
      width: 99%;
    }
    .fotos-creadores{
      
      padding: 0 5%;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    #imagen1, #imagen2, #imagen3, #imagen4{
      width:65%;
    }
    .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
      width:95%;
      
      
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:612px) and (max-width:768px){
   

    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 3rem;
       

    }
    #subtitle{
        margin-top: 60px;
    }
 
  

    .pages li{
        padding: 0rem 0.3rem;
        padding-top: 1.4rem;
        font-size: 0.9rem; /* px */
    }

    .contenido-principal{
      padding-top: 1.9rem;
      flex-direction: column;
    }
    .titulo-podcast {
      margin-left: 69px;
    }
    .jp-progress{
      margin-left: 69px;
    }
    .descripcion-podcast h4 {
      padding: 3% 89px;
    }
    .descripcion-podcast p {
      padding: 0 89px;
    }
    .titulo-fotos h2 {
      margin-left: 89px;
    }
    .creadores h2 {
      margin-left: 89px;
    }
    .text-container {
      width: 100%;
    }
    .descripcion-podcast {
      width: 100%;
    }
    

    /*.jp-controls img{
      width: 35px;
    }*/

    .carroussel{
        margin:5% 0 20% 15%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }
    .full-image.open{
      width: 99%;
    }
    .fotos-creadores{
      
      padding: 0 10%;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    #imagen1, #imagen2, #imagen3, #imagen4{
      width:65%;
    }
    .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
      width:85%;
      
      
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:530px) and (max-width:612px){
    
    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 2.6rem;
        margin-top: 20px;
       

    }
    #subtitle{
        margin-top: 70px;
    }
 
    .pages {
      margin-right: -1.5rem;
      top: 22px;
      right: 42px;
    }
    .pages li{
        padding: 0rem .5rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    .titulo-podcast {
      padding: 0 3%;
      margin-left: 59px;
    }
    .jp-progress{
      margin-left: 59px;
    }
    .descripcion-podcast h4 {
      padding: 3% 75px;
    }
    .descripcion-podcast p {
      padding: 0 75px;
    }
    .titulo-fotos h2 {
      margin-left: 75px;
    }
    .creadores h2 {
      margin-left: 75px;
    }
    .imagenes{
      margin:0;
    }
    .contenido-principal{
      padding-top: 1.9rem;
      flex-direction: column;
    }
    .text-container {
      width: 100%;
    }
    .descripcion-podcast {
      width: 100%;
    }
   

    /*.jp-controls img{
      width: 55px;
    }*/

    .carroussel{
        margin:5% 0 20% 15%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }
    .full-image.open{
      width: 99%;
    }
    .fotos-creadores{
      
      padding: 0;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    #imagen1, #imagen2, #imagen3, #imagen4{
      width:65%;
    }
    .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
      width:85%;
      
      
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:481px) and (max-width:530px){
    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 2.2rem;
        margin-top: 20px;
       

    }
    #subtitle{
        margin-top: 70px;
    }
 
    .pages{
        margin-right: 0;
    }
    .pages li{
        padding: 0rem 0.3rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    /* CONTENIDO PRINCIPAL */
    .contenido-principal{
        margin-top: 3.5rem;
        flex-direction: column;
        padding-top: 2.1rem;
      }
      .titulo-podcast {
        padding: 0 3%;
        margin-left: 66px;
      }
      .titulo-podcast h4{
        padding: 0 15px 0 0;
      }
      .jp-progress{
        margin-left: 66px;
      }
      .descripcion-podcast h4{
        margin-left: 66px;
      }
      .descripcion-podcast p{
        padding: 0 83px;
      }
      .text-container {
        
        width: 100%;
      }
      .descripcion-podcast {
        width: 100%;
      }
      .descripcion-podcast h4 {
        padding: 6% 3% ;
      }
      .titulo-fotos h2 {
        margin-left: 83px;
      }
      .imagenes{
        margin:0;
      }

      .parte-inferior {
        padding: 0 6%;
      }
      .jp-controls{
        margin-top: 15%;
        margin-bottom: 10%;
      }

      
      .jp-time-holder{
        right: 87px;
      }
/*
      .jp-controls .jp-pastPodcast {
        right: 2%;
      }
      .jp-controls .jp-play {
        right: 1%;
      }
      .jp-controls .jp-pause {
        right: 1%;
      }

      .jp-controls .jp-nextPodcast {
        left: 3%;
      }
      .jp-controls .jp-30sPlus {
       
      }
*/
.full-image.open{
  width: 99%;
}
.creadores h2 {
  margin-left: 83px;
}
.fotos-creadores{
  margin: 0 13px;
  padding: 0 10%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
#imagen1, #imagen2, #imagen3, #imagen4{
  width:65%;
}
.imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
  width:85%;
  
  
}
    #contenido1 {
        display: block;
        width: 50%;
      }
      #contenido2, #contenido3 {
        display: none;
        width: 50%;
      }

    #description-img{
        font-size:1.1rem;
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:481px){

   .logo{
    min-width: 224px;
   }

    .logo img{
      width: 100%;
    }  
   
      /* CONTENIDO PRINCIPAL */
      .contenido-principal{
        flex-direction: column;
        padding-top: 1.2rem;;
      }
      .titulo-podcast {
        padding: 0 3%;
        margin-left: 67px;
      }
      .jp-progress{
        margin-left: 67px;
      }
      .descripcion-podcast h4 {
       
        padding: 3% 77px;
      }
      .descripcion-podcast p {
        padding: 0 77px;
      }
      .titulo-fotos h2 {
        margin-left: 77px;
      }
      .parte-inferior {
        padding: 0 6%;
      }
      .jp-controls{
        margin: 10% 0 5% 0;
      }

      .jp-controls img{
        width: 45px;
      }

      
      .jp-time-holder{
      right: 72px;
      }
/*
      .jp-controls .jp-pastPodcast {
        right: 4%;
      }
      .jp-controls .jp-play {
        right: 5%;
      }
      .jp-controls .jp-pause {
        right: 5%;
      }

      .jp-controls .jp-nextPodcast {
        right: 4%;
      }
      .jp-controls .jp-30sPlus {
        left: 79%;
        bottom: 49%;
      }
      */


      .descripcion-podcast {
        width: 100%;
      }
      .descripcion-podcast h4{
        margin-top: 1%;
      }

      /* FOTOS DE ARCHIVO */
      .full-image.open{
        width: 99%;
      }
      .creadores h2 {
        margin-left: 77px;
      }
      .imagenes {
        flex-direction: column;
        padding: 0;
      }
      #imagen1, #imagen2, #imagen3, #imagen4{
        width:100%;
      }

      /* CREADORES PODCAST */
      .creadores h2{
        margin-left: 1.2rem;
      }
      .fotos-creadores{
        flex-direction: column;
        /*padding: 0 10%;*/
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
        width:100%;
        margin-bottom: 4%;
        
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }

    .title h1{
        font-size: 2.5rem;
        margin-top: 10px;
        
    }
    #subtitle{
      margin-top: 60px;
     
    }

    .hero{
        max-width: 100%;
        width: 100vw;
    }
 
    .hero img{
        padding: 2.5rem 0rem 2.5rem 2rem;
    }

    

    .carroussel{
        margin:5% 0 20% 20%;
        width: 60vw;
        max-width: 60%;
    }
    
   
    #contenido1 {
        display: block;
        width: 50%;
      }
      #contenido2, #contenido3 {
        display: none;
        width: 50%;
      }
   
    .flecha{
        max-width: 10px;
        width: 20%;
    }
   

    #description-img{
        font-size:1.05rem;
    }
    #subtext{
        font-size: 0.937rem; /* 15px */
    }
    #nav-footer{
      /*margin: 14px 10px;*/
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        margin-right: 10px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:385px){
    .logo{
        width:60%;
        min-width: 223px;
    }
    
    .logo img{
        width: 70%;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .titulo-podcast {
      padding: 0 3%;
      margin-left: 45px;
    }
    .jp-progress{
      margin-left: 45px;
    }

    .title h1{
        font-size: 2rem;
        margin-top: 5px;
    }
    #subtitle{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .description p{
        font-size: 1rem;
    }
   
    .hero img{
       width: 80%;
    }
   

      /* CONTENIDO PRINCIPAL */
      .contenido-principal{
        flex-direction: column;
        margin-top: 18%;
      }
      .parte-inferior {
        padding: 0 6%;
      }
      .jp-controls{
        margin-top: 15%;
      }
      .jp-controls img {
        width: 40px;
        
      }
      .jp-progress{
        right: 114px;
      }
     
      .jp-time-holder{
      right: 72px;
      }
/*
      .jp-controls .jp-pastPodcast {
        right: 8%;
      }
      .jp-controls .jp-play {
      right: 11%;
      }
      .jp-controls .jp-pause {
        right: 11%;
      }

      .jp-controls .jp-nextPodcast {
        right: 11%;
      }
      .jp-controls .jp-30sPlus {
        left: 79%;
        bottom: 49%;
      }
  */    


      .descripcion-podcast {
        width: 100%;
      }
      .descripcion-podcast h4{
        margin-top: 1%;
        padding: 3% 57px;
      }
      .descripcion-podcast p{
        padding: 0 57px;
      }
      .titulo-fotos h2 {
        margin-left: 57px;
      }
      

      /* FOTOS DE ARCHIVO */
      .full-image.open{
        width: 99%;
      }
      .imagenes {
        flex-direction: column;
        padding: 0;
        margin: 0 60px;
      }
      #imagen1, #imagen2, #imagen3, #imagen4{
        width:100%;
      }

      /* CREADORES PODCAST */
      .creadores h2 {
        margin-left: 62px;
      }
      .fotos-creadores{
        flex-direction: column;
        /*padding: 0 3%;*/
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5  {
        width:100%;
        margin-bottom: 4%;
        
    }


    .carroussel{
        margin:5% 0 20% 20%;
        width: 60vw;
        max-width: 60%;
    }

    #contenido1 {
        display: block;
        width: 50%;
      }
    #contenido2, #contenido3 {
        display: none;
        width: 50%;
      }
    .flecha{
        max-width: 10px;
        width: 20%;
    }
   

    #description-img{
        font-size:1.05rem;
    }
    #subtext{
        font-size: 0.937rem; /* 15px */
    }
    #nav-footer{
      /*margin: 14px 10px;*/
      }
    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        margin-right: 10px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}