/*
---- MAIN ----
---- PODCAST ----

---- EQUIPO ----
---- 1. General ----
---- 2. Navbar ----
---- 3. Header ----
---- 4.  ----
---- 5. Footer ----
---- 6. Media Queries ----


---- CONTACTO ----


*/


/* ----1. General---- */
p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 0.9rem;
    margin-right: 19%;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
    background-image: url("../resources/main/fondo.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0 auto;
    overflow-x: hidden !important;
    height: 100%
}

/* ----2. Navbar---- */
.logo{
    padding-top: 0.5rem;
    margin: 0 1%;
    max-height: 100px;
    max-width: 300px;
    
    
}
.logo img{
    max-height: 100px;
    width: 100%;
    display: inline-block;
    
}
.nav{
    background-color:#753BBD;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    
    
}
#dropdown-options{
    display: none;
    position: absolute;
    padding: 1% 2%;
    margin: 0 0 0 -2%;
    background-color: #dfc8e7;
    border-radius: 3%;
   
}

#dropdown-options li{
    list-style-type: none;
    padding: 0.5rem;
    display: block;
    width:100%;
}
#dropdown-options a{
    color:#fff;
    text-decoration: none;
   
}
#dropdown-options a:hover{
    color: #000;
   
   
}
#dropdown:hover #dropdown-options {
    display: block; /* muestra la lista al pasar el mouse */
  }

.pages{
    display: flex;
    align-items: flex-start;
    margin-right: 1.5rem; 
    top: 20px;
    position: relative;
  
}
.pages li{
    display: inline-block;
    padding: 0.3rem 3rem;
    padding-top: 1.7rem;
    font-size: 1.3rem; /* 20.8px */
    
}
.pages a{
    color: #ffffff;
    text-decoration: none;
    
    
}
.pages a:hover{
    text-decoration: underline;
  
}

/* ----3. Header---- */
.title {
    flex: 1;
    align-items: flex-start;
    width: 100%;
    padding-top: 120px;
}
    .title h1 {
        margin-left: 94px;
        font-size: 4.5rem; /* 112px */
    }


/* ----4. Gallery---- */

.creadores {
    max-width: 80%;
    display: flex;
    margin-top: 5%;
}

.creadores h2 {
    margin-left: 94px;
    font-size: 2.5rem;
}

.creadores2 {
    max-width: 100%;
    display: flex;
}

    .creadores2 h2 {
        margin-left: 94px;
        font-size: 2.5rem;
    }


.fotos-creadores {
    margin-right: 50px;
    margin-left: 94px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
    width: 104%;
    margin-bottom: 1%;
}

#creador1 img, #creador2 img, #creador3 img, #creador4 img, #creador5 img #creador6 img {
    width: 80%;
}
  

/* ----5. Footer---- */
.footer{
    width: 100%;
    max-width: 100%;
    background-image: url(../resources/main/footer-web.png);
    margin: 0 auto;
    display:flex;
    overflow-x: hidden;
    
}

#nav-footer li{
  list-style: none;
  padding-bottom: 0.5rem;
}
#nav-footer a{
    color: #ffffff; 
    padding: 0.3rem 3rem;
    text-decoration: none;
   
}
#nav-footer a:hover{
    text-decoration: underline;
}
.info{
    color: #ffffff;
    text-align: center;
     /* margin:0 auto; */
    /*margin-left: 7%;*/
    padding-top: 87px;
    max-width: 73%;

}
.info p{
    margin:0;
}
#logos{
    max-width: 100%;
    margin: 0;
    padding: 0;
    max-height: 50%;
  }
.redes{
    color: #ffffff;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 12%;
   
   
}

#instagram{
    width:35%;
    margin-right: 0.5rem;
}
#instagram:hover{
    cursor: pointer;
}

#twitter{
    width:35%;
}
#twitter:hover{
    cursor: pointer;
}

#tiktok{
    width:40%;
}
#tiktok:hover{
    cursor: pointer;
}

#spotify{
    width:90%;
}
#spotify:hover{
    cursor: pointer;
}

/* ----6. Media Queries---- */
@media only screen and (max-width:1600px){
    
    
    .nav{
        width: 100vw;
    }

    .title h1{
        font-size: 4rem;
        line-height: 0;
        margin-top: 3rem;
    }
  
    .info{
        margin-left: 3%;
        padding-top: 127px;
        max-width: 64%;
    }
    .fotos-creadores {
        margin-right: 50px;
        margin-left: 94px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }
      #logos{
        max-width: 135%;
        position: relative;
        left: 30px;
    }
}
@media all and (min-width:1024px) and (max-width:1280px){
   
    .pages li{
        font-size: 1.2rem;
       
    }

    .title h1{
        font-size: 3.5rem;
    }


    .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-right: 50px;
        margin-left: 94px;
    }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

    .footer{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }

    .info{
        /*margin-left: 3%;*/
        padding-top: 127px;
        max-width: 64%;
        
    }
}
@media all and (min-width:831px) and (max-width:1024px){
   
    .pages li{
        font-size: 1rem;
        padding: 1.8rem 1rem;
    }

    .title h1{
        font-size: 3rem;
    }
 

    .info{
        font-size: 15px;
        padding-top: 14%;
        margin-left: 0;
        margin-right: 180px;
    }
    .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-right: 50px;
        margin-left: 94px;
    }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }
      #logos{
        max-width: 163%;
        position: relative;
        left: -150px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:769px) and (max-width:831px){

    .logo img{
        width: 80%;
    }
    .title {
        padding-top: 101px;
       
      }
    .title h1{
        font-size: 3rem;
    }

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-right: 50px;
        margin-left: 94px;
    }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 15px;
        padding-top: 1%;
        margin-left: 168px;
        margin-right: 180px;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 154%;
        position: relative;
        left: -113px;
    }
    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:612px) and (max-width:768px){

    .logo img{
        width: 80%;
    }
    .title {
        padding-left: 6%;
       
      }
    .title h1{
        font-size: 2rem;
        margin-left: 35px;
    }
    .pages{
        margin-right: -3.5rem;
        top:24px;
        right:62px;
    }
   
    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }
    .creadores h2 {
        margin-left: 85px;
        font-size: 2rem;
    }
    .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 60px;
        margin-left: 85px;
    }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 17%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 156%;
        position: relative;
        left: -92px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:480px) and (max-width:612px){
    .logo img{
        width: 80%;
    }
    .title {
        padding-left: 6%;
       
      }
    .title h1{
        font-size: 1.8rem;
        margin-top: 20px;
        margin-left: 55px;
    }
    .pages {
        margin-right: -1.5rem;
        top: 25px;
        right: 38px;
      }

    .pages li{
        padding: 0rem 0.5rem;
        padding-top: 1rem;
        font-size: 0.7rem; /* px */
    }
    .creadores h2 {
        font-size: 2rem;
      }

    .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

   

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 17%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }
    #logos{
        max-width: 156%;
        position: relative;
        left: -96px;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:481px) and (max-width:530px){
    .logo{
        width:50%;
        padding-top: 0;
    }
    .logo img{
        width: 70%;
        min-width: 223px;
    }
    .title {
       
      }
    .title h1{
        font-size: 1.8rem;
        margin-left: 60px;
       

    }
    .creadores h2 {
        margin-left: 90px;
        font-size: 2rem;
    }
 
    .pages li{
        
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 130px;
        margin-right: 60px;
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 19%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:481px){

    .logo img{
        width: 70%;
        min-width: 223px;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }
    .title {
        padding-top: 0;
    }
    .title h1{
        font-size: 1.4rem;
        margin-left: 80px;
        
    }
    .creadores h2 {
         font-size: 1.5rem;
       }
   
      .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 20%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
        margin-right: 10px;
    }
    #logos {
        max-width: 157%;
        position: relative;
        left: -73px;
      }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:380px){
    .logo{
        padding-top: 0;
        width: 50%;
    }
    
    .logo img{
        width: 70%;
        min-width: 223px;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }
    .title {
        padding-top: 0;
    }
    .title h1{
        font-size: 1.4rem;
    }
    .creadores h2 {
         font-size: 1.5rem;
       }
  
    .description p{
        font-size: 1rem;
    }
    .hero{
        max-width: 100%;
        width: 100vw;
    }
    .hero img{
       width: 80%;
    }
    
      .fotos-creadores {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      .imagen-creador1, .imagen-creador2, .imagen-creador3, .imagen-creador4, .imagen-creador5 .imagen-creador6 {
        width: 104%;
        
      }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }
    .redes{
        right:16%;
    }
    .info{
        font-size: 0.8rem;
        padding-top: 1%;
        margin-left: 19%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}