/*
---- MAIN ----
---- 1. General ----
---- 2. Navbar ----
---- 3. Header ----
---- 4. Gallery ----
---- 5. Footer ----
---- 6. Media Queries ----

---- PODCAST ----
---- EQUIPO ----
---- CONTACTO ----


*/


/* ----1. General---- */
p{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
body{
    width: 100vw;
    background-image: url("../resources/main/fondo.png");
    margin:0 auto;
    overflow-x: hidden !important;
    height: 100%;

    

}

/* ----2. Navbar---- */
.logo{
    padding-top: 0.5rem;
    margin: 0 1%;
    max-height: 100px;
    max-width: 300px;
   
    
}
.logo img{
    max-height: 100px;
    width: 100%;
    display: inline-block;
    
    
}
.nav{
    background-color:#753BBD;
    width: 100vw;
    max-width: 100%;
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
   
    
}
#dropdown-options{
    display: none;
    position: absolute;
    padding: 1% 2%;
    margin: 0 0 0 -2%;
    background-color: #dfc8e7;
    border-radius: 3%;
   
}

#dropdown-options li{
    list-style-type: none;
    padding: 0.5rem;
    display: block;
    width:100%;
}
#dropdown-options a{
    color:#fff;
    text-decoration: none;
   
}
#dropdown-options a:hover{
    color: #000;
   
   
}
#dropdown:hover #dropdown-options {
    display: block; /* muestra la lista al pasar el mouse */
  }
  
.pages{
    display: flex;
    align-items: flex-start;
    margin-right: 1.5rem; 
   
}
.pages li{
    display: inline-block;
    padding: 0.3rem 3rem;
    padding-top: 1.7rem;
    font-size: 1.3rem; /* 20.8px */
    
}
.pages a{
    color: #ffffff;
    text-decoration: none;
    
    
}
.pages a:hover{
    text-decoration: underline;
  
}

/* ----3. Header---- */
.contenido-principal{
    display: flex;
    width: 100vw;
    max-width: 100%;
    margin-top: 4rem;
    padding-top: 3rem;
    
}

.text-container{
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border-width:thin;
    border-color: rgb(187, 187, 187);
    border-style: solid;
  
}
.descripcion-podcast{
    width: 50%;
    border-width:thin;
    border-color: rgb(187, 187, 187);
    border-style: solid;
    
}
.descripcion-podcast h4{
    order: 2;
    padding: 3%;
    font-size: 1.5rem; /* 24px */
    margin-top: -10px;
    font-weight: normal;
    margin-bottom: 2px;
}
.descripcion-podcast p{
    order: 2;
    padding: 0 3%;
    font-size: 1rem; /* 16px */
    margin-top: -10px;
   
}

.titulo-podcast{
    flex: 1;
    align-items: flex-start;
    padding: 0 3%;
}
.titulo-podcast h4{
    margin: 0;
    font-size: 1rem; /* 16px */ 
}
.titulo-podcast h2{
    margin: 0;
    font-size: 2rem; /* 32px */ 
    padding-bottom: 20px;
}
#subtitle {
    width: 50%;
    white-space: nowrap;
    font-style: italic;
    font-weight: lighter;
    margin-top: -10px;
 
   
}
.jp-jplayer, .jp-audio {
   
}
.jp-gui {
    position: relative;
    -webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);    
      box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, .1);
      border-radius: 3px;
    overflow: hidden;
    margin-top: 10px;
  }
  .parte-superior{

  }
  .parte-inferior{
    display: flex;
    flex-wrap: wrap;
    padding: 6%;
    justify-content: center;
  }
  .jp-controls {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "FontAwesome";
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
 
.jp-controls li {
    display: inline;
}
 
.jp-controls a {
    color: #fff;
}

.jp-controls img{
    width: 50px;
    vertical-align: middle;
    padding:0 10px;
}
.jp-play,.jp-pause {
    width: 60px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-right: 1px solid #9b26b6;
}
 
.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover {
    background-color: #9b26b6;
}
.jp-controls .jp-pastPodcast {
    position: relative;
    display: inline-block;
}
.jp-controls .img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.jp-controls .jp-pastPodcast:hover .img-hover{
    display:inline;
  }
.jp-pastPodcast img{
    transform: scaleX(-1);
}
 .jp-controls .jp-30sPlus img{

 }
.jp-time-holder {
    color: #000;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    right: 90px;
    top: 14px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}
.jp-progress {
    background-color: rgb(180, 177, 177);
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    position: absolute;
    right: 133px;
    top: 15px;
    width: 70%;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2) inset;
}
 
.jp-play-bar {
    height: 12px;
    background-color: #753BBD;
    border-radius: 20px 20px 20px 20px;
}
 
.jp-volume-bar {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 45px;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
    background-color: rgb(180, 177, 177);
    overflow: hidden;
}
 
.jp-volume-bar-value {
    background-color: #753BBD;
    height: 8px;
    border-radius: 20px 20px 20px 20px;
}


/* ----4. Gallery---- */
.titulo-fotos{
    max-width: 100%;
    display: flex;
    margin-top: 5%;
 
    
}
.titulo-fotos h2{
    margin-left: 2rem;
}

.imagenes{
    display: flex;
    margin:0;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
#imagen1, #imagen2, #imagen3, #imagen4{
    
    width: 45%;
    margin-bottom: 4%;
}

#imagen1 img{
    width: 100%;
}




/* ----5. Footer---- */
.footer{
    width: 100%;
    max-width: 100%;
    background-image: url(../resources/main/footer-web.png);
    padding: 1rem 0;
    display:flex;
    position: block;
}

#nav-footer li{
  list-style: none;
  padding-bottom: 0.5rem;
}
#nav-footer a{
    color: #ffffff; 
    padding: 0.3rem 3rem;
    text-decoration: none;
   
}
#nav-footer a:hover{
    text-decoration: underline;
}
.info{
    color: #ffffff;
    text-align: center;
    margin:0 auto;
    margin-left: 20%;
    padding-top: 2.7rem;

    
    
}
.redes{
    color: #ffffff;
    max-width: 100px;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    right: 12%;
   
   
}

#instagram{
    width:35%;
    margin-right: 0.5rem;
}
#instagram:hover{
    cursor: pointer;
}

#twitter{
    width:35%;
}
#twitter:hover{
    cursor: pointer;
}

#tiktok{
    width:40%;
}
#tiktok:hover{
    cursor: pointer;
}

#spotify{
    width:90%;
}
#spotify:hover{
    cursor: pointer;
}

/* ----6. Media Queries---- */
@media only screen and (max-width:1600px){
    
    .nav{
        width: 100vw;
    }

    #dropdown-options{
        margin: 0 0 0 -2.5%;
    }

    .title h1{
        font-size: 5rem;
        line-height: 0;
        margin-top: 3rem;
    }
    #subtitle{
        margin-top: 100px;
        margin-bottom: 60px;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }
    .info{
        margin-left: 10%;
    }
}
@media all and (min-width:1024px) and (max-width:1280px){
   
   
    .pages li{
        font-size: 1.2rem;
       
    }

    .title h1{
        font-size: 4rem;
    }
   
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }

    .footer{
        width: 100vw;
        max-width: 100%;
        height: auto;
    }

    .info{
        margin-left: 3%;
        
    }
}
@media all and (min-width:831px) and (max-width:1024px){
    
    .pages li{
        font-size: 1.1rem;
        padding: 1.8rem 2rem;
    }
   
    .title h1{
        font-size: 3.5rem;
    }
 
    .hero img{
        padding: 2.5rem 2.5rem;
    }

    .info{
        font-size: 0.6rem;
        padding-top: 10%;
        margin-left: 1%;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:769px) and (max-width:831px){
   

    .logo img{
        width: 80%;
       
    }

    .title h1{
        font-size: 3rem;
       

    }
    #subtitle{
        margin-top: 60px;
    }
 
   

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .carroussel{
        margin:5% 0 20% 10%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:612px) and (max-width:768px){
   

    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 3rem;
       

    }
    #subtitle{
        margin-top: 60px;
    }
 
  

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .carroussel{
        margin:5% 0 20% 15%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:480px) and (max-width:612px){
    
    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 2.6rem;
        margin-top: 20px;
       

    }
    #subtitle{
        margin-top: 70px;
    }
 

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .carroussel{
        margin:5% 0 20% 15%;
        width: 80vw;
    }

    #description-img{
        font-size:1.1rem;
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (min-width:481px) and (max-width:530px){
    .logo img{
        width: 80%;
    }

    .title h1{
        font-size: 2.2rem;
        margin-top: 20px;
       

    }
    #subtitle{
        margin-top: 70px;
    }
 

    .pages li{
        padding: 0rem 1rem;
        padding-top: 1rem;
        font-size: 0.9rem; /* px */
    }

    .carroussel{
        margin:5% 0 20% 15%;
        width: 80vw;
    }
    #contenido1 {
        display: block;
        width: 50%;
      }
      #contenido2, #contenido3 {
        display: none;
        width: 50%;
      }

    #description-img{
        font-size:1.1rem;
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
    #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 12%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:480px){

    .logo img{
        width: 70%;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }
    .text-container{
        max-width: 100%;
        width: 100vw;
    }

    .title h1{
        font-size: 2.5rem;
        margin-top: 10px;
        
    }
    #subtitle{
      margin-top: 60px;
     
    }

    .hero{
        max-width: 100%;
        width: 100vw;
    }
 
    .hero img{
        padding: 2.5rem 0rem 2.5rem 2rem;
    }

    #toggle {
        display: block;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
       
      }
      
      #toggle span:after,
      #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
      }
      #toggle span:after{
        top: 9px;
      }
      #toggle span {
        position: relative;
        display: block;
       
      }
      
      #toggle span,
      #toggle span:after,
      #toggle span:before {
        width: 100%;
        height: 5px;
        background-color: #fff;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
       
      }
      #toggle.on span {
        background-color: transparent;
      }
      #toggle.on span:before {
       /* transform: rotate(45deg) translate(5px, 5px);*/
       margin: 0 0 0 240px;
      }
      #toggle.on span:after {
        /*  transform: rotate(-45deg) translate(7px, -8px);*/
        margin: 0 0 0 240px;
      }
      #toggle.on + #pages {
        opacity: 1;
        visibility: visible;
      }
      
      /* menu appearance*/
      #pages {
        position: relative;
        color: #999;
        width: 200px;
        padding: 10px;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-radius: 4px;
        background: white;
        box-shadow: 0 1px 8px rgba(0,0,0,0.05);
        /* just for this demo */
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
      }
      #pages:after {
        position: absolute;
        top: -15px;
        left: 95px;
        content: "";
        display: block;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid white;
      }
      ul, li, li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
      }
      li a {
        padding: 5px;
        color: #888;
        text-decoration: none;
        transition: all .2s;
      }
      li a:hover,
      li a:focus {
       
        color: #fff;
      }
      .nav .pages{
        display: none;
      }
      .nav .on + .pages{
        display: block;
      }

    .carroussel{
        margin:5% 0 20% 20%;
        width: 60vw;
        max-width: 60%;
    }
    
   
    #contenido1 {
        display: block;
        width: 50%;
      }
      #contenido2, #contenido3 {
        display: none;
        width: 50%;
      }
   
    .flecha{
        max-width: 10px;
        width: 20%;
    }
   

    #description-img{
        font-size:1.05rem;
    }
    #subtext{
        font-size: 0.937rem; /* 15px */
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}
@media all and (max-width:380px){
    .logo{
        width:60%;
    }
    
    .logo img{
        width: 70%;
    }  
    .contenido-principal{
        flex-direction: column-reverse;
        width: auto;
        padding-top: 0;
        margin-top: 30%;
    }

    .title h1{
        font-size: 2rem;
        margin-top: 5px;
    }
    #subtitle{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .description p{
        font-size: 1rem;
    }
   
    .hero img{
       width: 80%;
    }
    #toggle {
        display: block;
        width: 28px;
        height: 30px;
        margin: 30px auto 10px;
      }
      
      #toggle span:after,
      #toggle span:before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
      }
      #toggle span:after{
        top: 9px;
      }
      #toggle span {
        position: relative;
        display: block;
      }
      
      #toggle span,
      #toggle span:after,
      #toggle span:before {
        width: 100%;
        height: 5px;
        background-color: #fff;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
      }
      #toggle.on span {
        background-color: transparent;
      }
      #toggle.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
      }
      #toggle.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
      }
      #toggle.on + #pages {
        opacity: 1;
        visibility: visible;
      }
      
      /* menu appearance*/
      #pages {
        position: relative;
        color: #999;
        width: 200px;
        padding: 10px;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        border-radius: 4px;
        background: white;
        box-shadow: 0 1px 8px rgba(0,0,0,0.05);
        /* just for this demo */
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
      }
      #pages:after {
        position: absolute;
        top: -15px;
        left: 95px;
        content: "";
        display: block;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid white;
      }
      ul, li, li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
      }
      li a {
        padding: 5px;
        color: #888;
        text-decoration: none;
        transition: all .2s;
      }
      li a:hover,
      li a:focus {
        
        color: #fff;
      }
      .nav .pages{
        display: none;
      }
      .nav .on + .pages{
        display: block;
      }

    .carroussel{
        margin:5% 0 20% 20%;
        width: 60vw;
        max-width: 60%;
    }

    #contenido1 {
        display: block;
        width: 50%;
      }
    #contenido2, #contenido3 {
        display: none;
        width: 50%;
      }
    .flecha{
        max-width: 10px;
        width: 20%;
    }
   

    #description-img{
        font-size:1.05rem;
    }
    #subtext{
        font-size: 0.937rem; /* 15px */
    }

    #nav-footer li{
       font-size: 0.8rem;
      }
      #nav-footer a{
        padding: 0rem 0rem;
    }

    .info{
        font-size: 0.8rem;
        padding-top: 6%;
        margin-left: 1%;
    }
    .footer{
        flex-direction: column;
    }
    .redes{
        font-size: 0.8rem;
    }

    #instagram{
        width: 20%;
    }
    #twitter{
        width: 20%;
    }
    #tiktok{
        width: 24%;
    }
    #spotify{
        width: 65%;
    }
}